body {
  margin: 0px;
  background-color: #f9f9f9;
  .main {
    padding: 40px;
    margin-left: 270px;
    max-width: calc(100vw - 270px);
    .title {
      margin: 0px;
      font-size: 40px;
    }
  }
}
