{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudE | Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/base/dashboard.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SWHZ0C695K"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SWHZ0C695K");
    </script>
  </head>
  <body>
    {% include 'components/sidebar.html' with active_tab='dashboard' %}
    <div class="main">
      <h1 class="title">Dashboard</h1>
    </div>
  </body>
</html>
